@model WebDevExamples.WebTech.CSharp.Generics.IndexVm

@{
    ViewBag.Title = "Index";
}

<header>
    <h1>Generics Example</h1>
</header>
<main class="container">
    <div class="row">
        <section class="col-md-6">
            @using(Html.BeginForm()) 
            {
                <table>

                </table>
            }
        </section>
        <section class="col-md-6">
            @using (Html.BeginForm())
            {

            }
        </section>
    </div>
</main>
<footer>
    Generics Example
</footer>

