@model WebDevExamples.WebTech.CSharp.Generics.IndexVm

@{
    ViewBag.Title = "Generics Example";
}

<header>
    <h1>Generics Example</h1>
</header>
<main class="container">
    @using(Html.BeginForm())
    {
    <div class="row">
        <section class="col-md-6">
            <header>
                <h3>String Input Example</h3> 
            </header>
            <div class="form-inline">
                <input type="button" value="add" data-inputarray="ConcatInput" class="btn btn-primary form-control value_add" />
                <input type="text" value="" class="form-control" /> 
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            String Value
                        </th>
                        <th>
                            Options
                        </th>
                    </tr>
                </thead>
                <tbody id="ConcatInput">
                    
                    @foreach (var value in Model.ConcatInput)
                    {
                        <tr>
                            <td>
                                @value
                                <input type="hidden" name="ConcatInput" value="@value" />
                            </td>
                            <td>
                                <input type="button" value="Delete" class="btn btn-danger delete_option" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>
        <section class="col-md-6">
            <header>
                <h3>Number Input Example</h3>
            </header>
            <div class="form-inline">
                <input type="button" value="add" data-inputarray="SumInput" class="btn btn-primary form-control value_add" />
                <input type="number" value="" class="form-control" />
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Number Value
                        </th>
                        <th>
                            Options
                        </th>
                    </tr>
                </thead>
                <tbody id="SumInput">
                    @foreach (var value in Model.SumInput)
                    {
                        <tr>
                            <td>
                                @value
                                <input type="hidden" name="SumInput" value="@value" />
                            </td>
                            <td>
                                <input type="button" value="Delete" class="btn btn-danger delete_option" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>
    </div>
    <div class="row">
        <section class="col-md-6">
            <header>
                <h3>
                    Process Control and Results
                </h3>
            </header>
            <div class="panel panel-primary">
                <div class="panel-heading">String Results</div>
                <div class="panel-body">
                    @Model.ConcatResult
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">Number Results</div>
                <div class="panel-body">
                    @Model.SumResult
                </div>
            </div>
            <input type="submit" value="Process" class="btn btn-success"/>
            <input id="inputReset" type="button" value="Reset" class="btn btn-danger" />
        </section>
    </div>
    }
</main>
<footer>
    Generics Example
</footer>

@section scripts {
    <script src="~/CSharp/Generics/Index.js"></script>
}

