@model WebDevExamples.WebTech.CSharp.InheritanceEncapsulationPolymorphism.ExampleClassOutput

<section class="col-md-6">
    <header>
        <h3>@Model.ClassName</h3>
    </header>
    <div class="list-group">
        <div class="list-group-item">
            <div class="list-group-item-heading">
                <h4>Method One</h4>
            </div>
            @Model.Method1
        </div>
        <div class="list-group-item">
            <div class="list-group-item-heading">
                <h4>Method Two</h4>
            </div>
            @Model.Method2
        </div>
    </div>
</section>