@using WebDevExamples.WebTech.CSharp.InheritanceEncapsulationPolymorphism
@model IndexVm

@{
    ViewBag.Title = "Inheritance, Encapsulation and Polymorphism Example";
}
<header>
    <h1>
        Inheritance, Encapsulation and Polymorphism Example
    </h1>
</header>
<main class="container">
    @for (var count = 0; count < Model.ExampleClassOutputs.Count; count += 2)
    {
        <div class="row">
            @Html.Partial("~/Views/InheritanceEncapsulationPolymorphism/ExampleClassOutputDisplay.cshtml", Model.ExampleClassOutputs[count])
            @if (!(count % 2 == 0 && count == Model.ExampleClassOutputs.Count - 1))
            {
                @Html.Partial("~/Views/InheritanceEncapsulationPolymorphism/ExampleClassOutputDisplay.cshtml", Model.ExampleClassOutputs[count + 1])
            }
        </div>
    }
</main>
<footer>
    Inheritance, Encapsulation and Polymorphism Example
</footer>
