@model WebDevExamples.WebTech.CSharp.CovarianceAndContravariance.IndexVm

@{
    ViewBag.Title = "Covariance And Contravariance Example";
}
<header>
    <h1>
        Covariance And Contravariance Example
    </h1>
</header>
<main class="container">
    <dl class="dl-horizontal">
        <dt>
            Covariance Result:
        </dt>
        <dd>
            @Model.CovarianceResult
        </dd>
        <dt>
            Contravariance Type:
        </dt>
        <dd>
            @Model.ContravarianceInput
        </dd>
        <dt>
            Contravariance Result:
        </dt>
        <dd>
            @Model.ContravarianceResult
        </dd>
    </dl>
</main>
<footer>
    Covariance And Contravariance Example
</footer>
